<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action ="/createRoom">
    <input type="text" name="maxPlayers" /> Room size (Room will not start until the number is reached) <br>
    <input type="submit" value="Submit"/>
  </form>

<%- include('bootfooter') -%>