<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>This is the Demo page</h1>
    <p> We have links skills and exams </p>
</div>

<h2>Core EJS skills</h2>
<ul>
    <li>basic HTML tags</li>
    <li> including other files into your ejs file </li>
</ul>


<%- include('bootfooter') -%>
