<%- include('bootheader') -%>
<%- include('menubar') -%>

<h1>How to play:</h1>
<ul>
    <li>Hangman, but each player has their own word. </li>
    <li>Each player takes turns guessing another player's word, one letter at a time.</li>
    <li>Guessing a letter correctly will bring that person closer to losing.</li>
    <li>Guessing incorrectly will make you lose 1 health.</li>
    <li>If you lose all your health, or if your word is completely guessed, you are out!</li>
    <li>The last one standing wins!</li>
</ul>

<hr>

<h3>Joining and Creating Games</h3>
<p>
    The main page shows a list of "rooms" available to join.
    Click "Join" on any room to join it.
</p>
<p>
    You can also create a room using the input boxes at the bottom.
</p>
<p>
    Once in a room, type your word into the text box and press Enter / click Submit.
    When each player has submitted a word, the game will begin.
</p>

<p>
    The host of a room can also decide to start the game early once the minimum number of players have submitted words.
</p>

<hr>

<h3>Navigating the game</h3>
<p>The turn order goes from top to bottom.</p>
<p>When it is your turn, text boxes will appear under each player. Type a letter into the box under the player whose letter you would like to guess.</p>
<p>If you are eliminated, the turn order will automatically pass you.</p>
<p>Good luck!</p>

<hr>
<a href="/admin">Secret</a>


<%- include('bootfooter') -%>