<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>app</h1>
        <p>  </p>
    </div>
    <img width="200" src="/images/dog.jpg">


<%- include('bootfooter') -%>
