<%- include('bootheader') -%>

<%- include('menubar') -%>

<div class="jumbotron">
    <h1>
      Google Abusive Experience Report Lookup
    </h1>
</div>

<form method="post" action="/jsonResult">
    <input type="text" name="url"> URL of website to check (format: example.com)<br>
    <input type="text" name="key"> Google API key <br>
    <input type="submit">
</form>

<h1> hello <%= user%></h1>


<%- include('bootfooter') -%>
