<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Login with Google </h1>
        <p> Click the button below </p>

        <h5>The app does not receive any information besides your email.<br>
        Your email is not used in any way. It is just how the Google login works (as far as i know).</h5>

        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>


<%- include('bootfooter') -%>
