<%- include('bootheader') -%>

<%- include('menubar') -%>

  <div class="jumbotron">
      <h1>Log in</h1>
      <p> Click the button to login with Google </p>
  </div>

  <a class="btn btn-danger" href="/auth/google">
      <span class="fa fa-google-plus"> Google</span>
  </a>




<%- include('bootfooter') -%>
