<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Menu Bar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/">Index</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/joinGameMenuBar">room selection</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/createRoom">create room</a>
      </li>


      <li class="nav-item ">
        <a class="nav-link" href="/profile">profile</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/loginScreen">login</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/logout">logout</a>
      </li>

      


    </ul>


  </div>
</nav>
