<%- include('bootheader') -%>

<%- include('menubar') -%>

<script src="/socket.io/socket.io.js"></script>

<br>


<div id="reactRoomSelection"></div>

<br>


<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="reactRoomSelection.jsx" type="text/babel"></script>

<%- include('bootfooter') -%>