
<table class="table table-bordered table-striped">
    <% gameApp.waitingRooms.forEach(waitingRoom => {%>
        <tr>
            <td>Room <%= waitingRoom.roomID %></td>
            <td>Players: <%= waitingRoom.playerCount %> / 6</td>
        </tr>
    <% }) %>
</table>



<form method="post" action ="/selectRoom">
    <input type="text" name="roomnumber" size="60"/> choose ur room <br>
    <input type="submit" value="Submit"/>
  </form>