


<div>
  There are <%- gameApp.waitingRooms[roomid].getReadyPlayerCount()%> / <%- gameApp.waitingRooms[roomid].getPlayerCount()%> players ready.
  <%- JSON.stringify(gameApp.waitingRooms[roomid].players) %> 
</div>



<form method="post" action ="/submitWord">
  <input type="text" name="word" size="60"/> write your word <br>
  <input type="submit" value="Submit"/>
</form>
