<%- include('bootheader') -%>

<%- include('menubar') -%>

<div class="jumbotron">

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%- extrastuff %>
    </div>
    <div class="col-sm">
      <hr>
        <form method="post" action ="/submitWord">
          <input type="text" name="word" size="60"/> set word <br>
          <input type="submit" value="Submit"/>
          <input type="text" name="number" size="60" value= this.number hidden='false'/>
        </form>

        <form method="post" action ="/guessWord">
          <input type="text" name="guess" size="60"/> Guess letter <br/>
          <input type="submit" value="Submit"/>
          <select name = "number">
            <option value = "0" selected>1</option>
            <option value = "1">2</option>
            <option value = "2">3</option>
         </select>
        </form> <hr>
    </div>
  </div>
</div>


<%- include('bootfooter') -%>
